<body class="sub_page">

  <div class="hero_area">

    <app-navbar></app-navbar>

  </div>

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">

      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="assets/images/about-img.png" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                We Are the bakery of Zattaizia
              </h2>
            </div>
            <p>
              Our bakery is located in the town of Hawold in the region of Zattaizia. We are making every piece of cake or cupcake for your needs.
              Wedding, party's or any event you want, we can awnser your needs for every type of sweet food.
            </p>
            <a href="">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <app-footer></app-footer>

</body>
